<!DOCTYPE html>
<html lang="ja">

<%- include('./components/head') %>
<body>
    <%- include('./components/header') %>
    
    <% if (typeof contentComponent !== 'undefined' && contentComponent) { %>
        <%- include('./components/' + contentComponent) %>
    <% } else { %>
        <%- include('./components/main-content') %>
    <% } %>
    
    <%- include('./components/footer') %>
    
    <script type="module" src="./main.js"></script>
</body>
</html>
